.Post{
    width:100%;
    margin:15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,0.75);
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding:15px;
    background-color: #eff2f5
}
.post-avatar{
    margin-right: 10px;
}

.post-image>img{
    width:100%;
}

.post-topinfo>h3{
    font-size: medium;
}
.post-topinfo{
    font-size: small;
    color:gray;
}
.post-bottom{
    margin-top: 10px;
    padding:15px 30px ;
    margin-bottom: 10px;
}
.post-options{
    display:flex;
    justify-content: space-evenly;
    font-size: medium;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    cursor: pointer;
    color:gray;
    padding:15px;
}
.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    flex:1;
}
.post-option >p{
    margin-left: 10px;
}

.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}